* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* scroll-behavior: smooth; */
  overflow: scroll;
}

.body {
  background-image: url("daniel-leone-g30P1zcOzXo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 90rem;
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid {
  gap: 5.2rem;
}

.mid a {
  color: #fff;
}
.nav {
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 3.2rem;
  padding: 0 8rem;
  padding-top: 4rem;
  font-family: sans-serif;
}

.icon {
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
}

.profile-icon {
  color: #fff;
}

nav div:first-child {
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 3.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fbd784;
}

.mid ul:hover {
  transition: 0.5s;
  transform: translate(0, -3px);
}

.line {
  width: 72px;
  height: 2px;
  margin-right: 24px;
  background-color: #fbd784;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}
.heading-tagline {
  padding: 0 8rem;
  width: 100%;
  max-width: 95rem;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

h1 {
  color: #fff;
  font-size: 7.5rem;
  line-height: 120%;
  font-weight: 600;
  text-transform: capitalize;
}
.tagline-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 78rem;
  padding-top: 5rem;
}

.grid {
  display: grid;
  width: 120rem;
  grid-column-gap: 8.1rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
  margin: 5rem auto;
  grid-template-rows: auto;
  position: relative;
  padding: 0 5rem 0 5rem;
}

.main {
  background-color: #1a3236df;
  padding: 4.8rem 0 9.6rem 0;
  background-image: linear-gradient(
    180deg,
    #0b1d2683 25%,
    rgba(11, 29, 38, 0.903) 75% /* #0b1d2683 50% */
  );
}

h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Noto Serif", sans-serif;
  font-size: 6.4rem;
  line-height: 110%;
  font-weight: 600;
  color: #fff;
}
.grid-content-01 {
  font-family: "Sans Serif", Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}
.grid-content-02 {
  font-family: "Sans Serif", Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  position: relative;
}

.remove-width {
  width: auto;
  margin-bottom: 2rem;
}

h2::before {
  font-family: sans-serif;
  position: absolute;
  content: "01";
  opacity: 0.2;
  font-size: 18rem;
  top: 8rem;
  left: -8rem;
}

.grid-margin {
  margin-top: 8rem;
}
.read-more {
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.read-more a {
  color: #fbd784;
}

.read-more a:hover {
  transition: 0.5s;
  transform: translate(3px, 0);
}
.arrow-icon {
  color: #fbd784;
}

h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Noto Serif", sans-serif;
  font-size: 6.4rem;
  line-height: 110%;
  font-weight: 600;
  color: #fff;
}

.main-02 {
  padding: 4.8rem 0 9.6rem 0;
  background-image: linear-gradient(180deg, #0e212a 50%, #0e212a 100%);
}

h3::before {
  font-family: sans-serif;
  position: absolute;
  content: "02";
  opacity: 0.2;
  font-size: 18rem;
  top: 8rem;
  right: 45rem;
}

h4::before {
  font-family: sans-serif;
  position: absolute;
  content: "03";
  opacity: 0.2;
  font-size: 18rem;
  top: 8rem;
  left: -8rem;
}

h4 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Noto Serif", sans-serif;
  font-size: 6.4rem;
  line-height: 110%;
  font-weight: 600;
  color: #fff;
}

.mntn {
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 3.2rem;
  cursor: pointer;
}

.align-footer {
  flex-direction: column;
  max-width: 1440px;
  padding: 0 8rem;
  margin: 0 auto;
  justify-content: center;
}
.footer-tagline {
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-top: 3rem;
}
.flex-width {
  width: 60%;
}

.copyright {
  color: #fff;
  font-size: 2rem;
  line-height: 3.2rem;
  margin-top: 3rem;
  opacity: 0.5;
}
.grid--02 {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 2rem;
  width: auto;
}

h6 {
  margin-top: 0px;
  margin-bottom: 2.4rem;
  color: #fbd784;
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: 700;
}

.footer-link {
  color: #fff;
}
